@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">To-do list task</h1>
    <p>Maarja's git <a href="https://gitlab.cs.ttu.ee/mahoop/icd008-2020f-exam.git">link</a>.</p>
</div>
<pre>TODO lists - WebApp
       Allow users to add different TODOs in different categories.
       TODO has description, headline, priority (textual and numerical - hi, low, med, ... - ordering based on numerical priority)
       TODO has creation and due date
       Search/filter TODOs based on category, priority, headline, description
       Sort TODOs by priority, creation and due date
       Provide some statistics
       Allow convenient  marking of TODOs as done/undone
       
       Generally speaking - these are only broad guidelines. Please write a solution, that you would like to present to the world as your best effort in programming and app-designing (UX is the key).
       To be implemented as Razor Pages based Web app. No ViewBags! Nullable Reference Types have to be enabled solution wide.</pre>